<!DOCTYPE html>
<html lang="en">
<head>

  <title>TinyApp - Short URLS</title>

</head>
<body style="font-size:20px; padding:50px;">
  
<table>
	<header><h2>TinyURL</h2></header>
	<tr>

	<% if (username !== undefined) { %>

	<h3>Currently logged in as <%= username.email %></h3>

  <% } %>

	</tr>
</table>

</body>
</html>