<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp - Short URLS</title>
</head>
<body>
<centre><h1>TinyAPP</h1></centre>
<table>
	<tr>
	<td><h3><a href="http://localhost:8080/urls">TINY URLS</a></h3></td>
	<td><h3><a href="http://localhost:8080/urls/new">NEW URL</a></h3></td>
	<td><h3><a href="http://localhost:8080/urls.json">URL JSON</a></h3></td>
	</tr>
</body>