<!DOCTYPE html>
<html lang="en">
<head>


</head>
  <body>

  	<% include partials/_header %>

      <table>
     	<td>
          <form method="GET" action="/urls" >
            <input type="submit" value="My URLS" style="height: 30px">
          </form>
        </td>
        <td>
          <form method="POST" action="/logout" >
            <input type="submit" value="Log Out" style="height: 30px">
          </form>
        </td>
      </table>

      <form action="/urls" method="POST" style="margin:2em 0em;">
        <label for="longURL">Enter a URL:</label>
        <input id="longURL" type="longURL" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Submit">
      </form>
    
  </body>
</html>